* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.continer {
  width: auto;
  background-color: #333;
  color: white;
  padding: 10px;
}

header, footer {
  background-color: #328db5;
  padding: 8px;
  color: white;
  
}

h1, h3{
  color: white;
  margin: 0px 0px;
}

br {
  margin-bottom: 50px;
  margin-top: 50px;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: deepskyblue;
}

input {
  width: 100%;
  height: 40px;
  margin: 4px 0px;
  padding: 5px;
  font-size: 21px;
  outline: none;
  border-radius: 4px;
  background-color: #222;
  color: white;
  display: block;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  background-color: mediumseagreen;
  font-size: 18px;
  border-radius: 4px;
  margin: 20px 0px;
}

button:hover {
  background-color: seagreen;
}

btclc {
  width: 69%;
}

#btres {
  width: 30%;
}

.result {
  margin-top: 10px;
  border: solid 1px white;
  border-radius: 4px;
  height: 78px;
  background-color: #222;
}

p {
  font-size: 30px;
  display: inline-block;
  margin: 5px 0px;
  width: 30%;
}

span {
  width: 30%;
  display: inline-block;
  font-size: 18px;
}

.sp {
  margin: 8px 0px;
  text-align: center;
}

.pr {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
